USE [lab3]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 10/31/2024 3:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[Staff_ID] [int] NOT NULL,
	[NAME] [varchar](255) NULL,
	[PHONE_NUMBER] [bigint] NULL,
	[ADDRESS] [varchar](255) NULL,
	[DNO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([DNO])
REFERENCES [dbo].[DEPARTMENT] ([DNO])
GO
