USE [lab3]
GO
/****** Object:  Table [dbo].[SALARY]    Script Date: 10/31/2024 3:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY](
	[EMPLOYEE_ID] [int] NULL,
	[SALARY] [money] NULL,
	[DNO] [int] NULL,
	[EFFECTIVE_DATE] [date] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([DNO])
REFERENCES [dbo].[DEPARTMENT] ([DNO])
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[STAFF] ([Staff_ID])
GO
