USE [lab3]
GO
/****** Object:  Table [dbo].[TEST_REQ]    Script Date: 10/31/2024 3:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_REQ](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[DoctorID] [int] NULL,
	[DateRequested] [date] NOT NULL,
	[TestName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TEST_REQ]  WITH CHECK ADD FOREIGN KEY([PID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
